html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: url(/src/image/bg.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
  min-height: 100%;
}
form {
  width: 30rem;
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px, 0;
}

span {
  text-transform: capitalize;
}
