html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: url(/src/image/bg.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
  min-height: 100%;
  background-color: #eaf2f5;
}

form {
  width: 30rem;
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px, 0;
}

span {
  text-transform: capitalize;
}

.nav-wrapper {
  background-color: #212121;
}

.card {
  background-color: #f5c05b;
}

.nav-wrapper li a {
  color: white;
  font-size: larger;
}

.nav-wrapper li a:hover,
.nav-wrapper li a:active,
.nav-wrapper li a.active {
  background-color: transparent;
  color: #f1d06d;
}

.form {
  border-radius: 5px;
}

.loader {
  margin-top: 30vh;
}

.loader h3 {
  color: #0c3666;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #ffebee inset !important;
}

.page-footer {
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
}

.page-layout {
  height: 100vh;
}

.form-card {
  border-radius: 2rem;
}
